{
  "app": {
    "guid": "c4969dea-d4b2-44c2-a567-97f559c1054b"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "YzQ5NjlkZWEtZDRiMi00NGMyLWE1NjctOTdmNTU5YzEwNTRi",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}